
<form [formGroup]="checkForm" class="form-group col-6 mt-4 ml-4">

  <div class="form-group row">
    <div class="col-sm-10">
      <input type="number" placeholder="ingrese DUI" formControlName="dui" class="form-control" 
       >
    </div>    
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="text" placeholder="ingrese nombres" formControlName="nombres" class="form-control">
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-10">
      <input type="text" placeholder="ingrese apellidos" formControlName="apellidos" class="form-control">
    </div>
  </div>
  <div class="form-group row">
      <div class="col-sm-10">
          <input type="number" placeholder="ingrese capital en cuenta" formControlName="capital" class="form-control">
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Es corriente</label>
    </div>
    <div><button (click)="onSubmit(checkForm.value)"class="btn btn-primary" type="submit">Agregar</button></div>
</form>
