
    <div>
        <h3>Menu de opciones</h3>
        <p>Precione la opcion que desea realizar con la entidad avion</p>
        <ul>
            <li><button type="button" class="btn btn-primary"  [routerLink] = "['List']" >Listar Aviones</button></li>
            <li><button type="button" class="btn btn-secondary"  [routerLink] = "['Create']" >Agregar Avion</button></li>
            <li><button type="button" class="btn btn-success" >Actualizar Avion</button></li>
            <li><button type="button" class="btn btn-danger">Elimar Avion</button></li>
        </ul>   
    </div>